.Profile {}
.profile-image {
    width: 300px;
    /* align-self: center; */
    margin: 5px auto;
}

/* 

.profile-image {
    width: 300px;
    margin: 5px auto;
}

.profile-imageCard{
    width: 100px;
}

.middle-container {
    margin-left: 10px;
}

.middle-container > p:first-child {
    margin-top: 10px;
}

.middle-container > p {
    margin: 0 0 10px 0;
}

.right-container {
    align-self: stretch;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

















*/